@charset "utf-8";

$black: #1a1a1a;
$white: #FFF;
$gray: #999;
$gray02: #EFEFEF;
$gray03: #AAAAAA;
$gray04: #EEEEEE;
$bg-gray: #FAFAFA;
$bg-gray02: #707070;
$yellow: #FFD61A;
$colorMain: #278cfa;
$colorA: #BF0049;
$colorB: #019F7B;

// max-width
$breakpoint-down: (
  'xs': 'screen and (max-width: 320px)',
  'sm': 'screen and (max-width: 375px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 960px)',
  'xl': 'screen and (max-width: 1140px)',
) !default;

@mixin mq-down($bp: md) {
  @media #{map-get($breakpoint-down, $bp)} {
    @content;
  }
}
@mixin flexBase($direction: row,$justify:space-between,$align:flex-start,$wrap:wrap) {
  display: flex;
  flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	flex-wrap: $wrap;
}
@mixin posiCenter($posiX:-50%,$posiY:-50%){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate($posiX,$posiY);
}
@mixin baElement($content:"") {
  content: $content;
  display: block;
}


/* default
--------------------------------------------------------*/

body {
  overflow-x: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #333333;
	font-size: 16px;
	font-family:  "游ゴシック体", "Yu Gothic", YuGothic, Meiryo, "メイリオ", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic",  Osaka, sans-serif;
	line-height: 1.6;
  @include mq-down($bp:xl){
    font-size: 15px;
  }
}
*{
  font-size: 1em;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header, footer, section, article, aside, nav,
figure, figcaption, main {display: block;}
ul,ol,dl,li,dt,dd{list-style: none;}
img {
	display: block;
	max-width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	border:none;
}
a,a:visited{
	color: #000;
	text-decoration: none;
	-webkit-transition:opacity .4s;
	transition:opacity .4s;
}
:focus{outline:none;}
.hover{-webkit-transition:opacity .4s;transition:opacity .4s;cursor: pointer;}
a:hover,.hover:hover{opacity: 0.5;}

/* 基本
--------------------------------------------------------*/
main{
  padding: 60px 0;
}
.flex{
  @include flexBase;
  &.half>*{
    width: 50%;
  }
  &.align-stretch{
    align-items: stretch;
  }
  &.align-item-c{
    align-items: center;
  }
  &.single.center{
    justify-content: center;
  }
  &.tri{
    justify-content: flex-start;
    @include mq-down($bp:md){
      display: block;
    }
    &>*{
      width: calc((100% - 24px * 2) / 3);
      margin-right: 24px;
      &:nth-child(3n){
        margin-right: 0;
        @include mq-down($bp:md){
          margin-right: auto;
        }
      }
      @include mq-down($bp:md){
        width: 100%;
        margin-right: auto;
      }
    }
  }
}
.inner{
  position: relative;
	max-width: 1280px;
	margin: 0 auto;
  height: 100%;
  @include mq-down($bp:xl){
     width: 90%;
  }
}
.sp{
  display: none;
  @include mq-down($bp:md){
    display: block;
  }
}
.pc{
  @include mq-down($bp:md){
    display: none;
  }
}

.page-header{
  height: 60px;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: $white;
  background-color: $black;
  .inner{align-items: center;}
  .btn{
    a{
      display: inline-block;
      padding: 0.4em 0.8em;
      font-size: 16px;
      font-weight: bold;;
      color: $black;
      background-color: $yellow;
      border-radius: 10px;
    }
  }
}

.main-area{
  .heading{
    margin-bottom: 24px;
    border-bottom: solid 2px $black;
  }
  .code-area,.select-area{
    width: calc((100% - 36px * 2) / 5 * 2);
  }
  .layout-area{
    width: calc((100% - 36px * 2) / 5 * 1);
  }
  .code-area{
    .code-wrap{
      overflow-y: scroll;
      display: block;
      width: 100%;
      height: 500px;
      font-size: 12px;
      border: solid 1px $gray03;
    }
    .code-box{
      display: block;
      padding: 1em;
    }
    .copy{
      appearance: none;
      display: block;
      width: 100%;
      height: 45px;
      margin-top: 24px;
      font-weight: bold;
      color: $black;
      background-color: $yellow;
      border: none;
      cursor: pointer;
    }
    .copy-alert{
      position: fixed;
      top: 50%;
      left: 50%;
      display: none;
      width: 200px;
      height: 45px;
      color: $white;
      background-color: $black;
      transform: translate(-50%,-50%);
      span{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 45px;
      }
    }
  }
  .layout-area{
    .layout{
      padding: 0.5em;
      border: solid 1px $gray03;
      &+*{margin-top: 1em;}
      .section-title{margin-bottom: 0.3em;}
      .now-item,.add{
        padding: 0.3em 0.5em;
        font-size: 14px;
        border: solid 1px $gray03;
        background-color: $bg-gray;
        border-radius: 4px;
        cursor: pointer;
        &+*{margin-top: 0.5em;}
      }
      .now-item{
        &.active{
          border-color: $yellow;
        }
      }
      .add{
        display: flex;
        justify-content: center;
        border-radius: 20px;
      }
    }
  }
  .select-area{
    .select-box{
      display: none;
      &.active{
        display: flex;
        flex-wrap: wrap;
      }
      label{
        display: block;
        width: calc((100% - 15px * 2) / 3);
        padding: 10px;
        margin-right: 15px;
        border: solid 1px $gray03;
        &:nth-of-type(3n){margin-right: 0;}
        &:nth-child(n+4){margin-top: 15px;}
      }
    }
  }
}